/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.logo {
    margin-bottom: 10px;
}

.logo img {
    width: 100px; /* ajuste o tamanho conforme necessário */
}

.logo h1 {
    font-size: 2em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    .logo img {
        width: 80px; /* ajuste o tamanho conforme necessário */
    }
    .imagem-sobre,
    .imagem-projeto {
        width: 100%;
        margin-bottom: 10px;
    }
}
